.github/get-pip.py
packer/variables.json
packer/safe/note.txt
packer/safe/ubuntu16_variables.txt
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
*.sav
terraform/safe/*
*.retry
*.lock.info
*/safe/*
jdauphant.nginx
vault.key
.vagrant
*.log
*.pyc
.molecule
.cache
.pytest_cache

